h1 {
    font-weight: 800;
    font-size: 2.2em;
}

h2 {
    font-weight: 800;
    font-size: 1.8em;
}

h3 {
    font-weight: 600;
    font-size: 1.2em;
}



.listing {
    list-style: none;
    margin: 2em;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
  }

  .listing li {
    border: 1px solid #ffe066;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
  }
  .listing .cta {
    margin-top: auto;
    border-top: 1px solid #ffe066;
    padding: 10px;
    text-align: center;
  }
  .listing .body {
    padding: 10px;
  }


.main-head {
    grid-area: header;
  }
  .content {
    grid-area: content;
  }
  .main-nav {
    grid-area: nav;
  }
  .side {
    grid-area: sidebar;
  }
  .ad {
    grid-area: ad;
  }
  .main-footer {
    grid-area: footer;
  }

  .wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
      "header"
      "nav"
      "content"
      "ad"
      "footer";
  }

  @media (min-width: 600px) {
    .wrapper {
      grid-template-columns: 1fr 3fr;
      grid-template-areas: 
        "header  header"
        "nav     nav"
        "ad content"
        "ad      footer";
    }
    nav ul {
      display: flex;
      justify-content: space-between;
    }
  }

  @media (min-width: 700px) {
    .wrapper {
      grid-template-columns: 1fr 4fr 1fr;
      grid-template-areas: 
        "header header  header"
        "nav    content ad"
        "nav    content ad"
        "footer footer  footer"
     }
     nav ul {
       flex-direction: column;
     }
  }