@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Open+Sans+Condensed:wght@300&display=swap');


body{
  margin: 0;
}

h1 {
    font-weight: 800;
    font-size: 2.2em;
    color: #202121;
}

h2 {
    font-weight: 800;
    font-size: 1.8em;
    color: #202121;
}

h3 {
    font-weight: 600;
    font-size: 1.2em;
}

input{
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #e6eaea;
}

.addItem{
  background-color: #4daf7c; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

a.addItem:link {color:#ffffff;}
a.addItem:visited {color:#ffffff;}
a.addItem:hover {color:#ffffff;}

.buttonShop {
  background-color: #f62459; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.buttonShop:hover {
  background-color: #db0a5b; /* Green */
  color: white;
}

.buttonShopUpdate {
  background-color: #4daf7c; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.buttonShopUpdate:hover {
  background-color: #00b16a; /* Green */
  color: white;
}

.listing {
    list-style: none;
    margin: 2em;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
  }

  .listing li {
    border: 1px solid #e6eaea;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background: #ffffff;
  }
  .listing .cta {
    margin-top: auto;
    border-top: 1px solid #e6eaea;
    padding: 10px;
    text-align: center;
  }
  .listing .body {
    padding: 10px;
  }

.main-head {
    grid-area: header;
    background-color: #f4f7f6;
    border-bottom: 1px solid #e6eaea;
  }
  .content {
    grid-area: content;
    min-height: 100vh;
  }

  .main-nav {
    grid-area: nav;

  }
  .side {
    grid-area: sidebar;
  }
  .ad {
    grid-area: ad;
  }
  .main-footer {
    grid-area: footer;
    background-color: #f62459;
  }

  .wrapper {
    display: grid;
    grid-gap: 20px;
    padding-left: 10px;
    padding-right: 10px;
    grid-template-areas: 
      "header"
      "nav"
      "content"
      "ad"
      "footer";
  }

  @media (min-width: 600px) {
    .wrapper {
      grid-template-columns: 1fr 3fr;
      grid-template-areas: 
        "header  header"
        "nav     nav"
        "ad content"
        "ad      footer";
    }
    nav ul {
      display: flex;
      justify-content: space-between;
    }
  }

  @media (min-width: 700px) {
    .wrapper {
      min-height: 80vh;
      grid-template-columns: 1fr 4fr 1fr;
      grid-template-areas: 
        "header header  header"
        "nav    content ad"
        "nav    content ad"
        "footer footer  footer"
     }
     nav ul {
       flex-direction: column;
     }
  }